.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0;
  background: none;
  font-size: 20px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  font-family: "cabinetGrotesk", sans-serif;
  border-radius: 4px;
}

.header__username {
  margin-right: 10px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header__auth-buttons {
  display: flex;
  gap: 20px; /* Space between Login and Sign Up buttons */
  align-items: center;
}

.header__login {
  background: transparent;
  border: none;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  transition: opacity 0.3s ease;
}

.header__login:hover {
  opacity: 0.6;
}

.header__signup {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  transition: opacity 0.3s ease;
}

.header__signup:hover {
  opacity: 0.8;
}
