.modal__container {
  padding: 0;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal__close-btn {
  width: 20px;
  height: 20px;
  top: 130px;
  left: 925px;
}

.modal__image {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 12px;
  height: 100%;
}

.modal__details {
  margin: 0;
  padding: 20px 0 32px 32px;
}

.modal__caption {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-wrap: wrap;
}

.modal__weather {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.modal__delete-btn {
  background: #ff4d00;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 101px;
  height: 24px;
  top: 624px;
  left: 836px;
  gap: 0px;
  border-radius: 16px 0px 0px 0px;
  opacity: 0px;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 32px 32px;
}
